# Virtual environment
venv/

# Data (large/untracked files)
Rock_Identification_Poject/Input_Resouces/rock_dataset/
Rock_Identification_Poject/Outputs/rock_dataset_clean/
Rock_Identification_Poject/Outputs/rock_dataset_split/
Rock_Identification_Poject/Outputs/V2/models

Flood_Hotspots_Project/final_40m/
Flood_Hotspots_Project/raw/
Flood_Hotspots_Project/outputs/

# Model checkpoints
*.h5
*.keras
SavedModel_RockClassifier/
rock_classifier_multitask_savedmodel/
*.tif
*.gpkg
*.pkl


# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
